<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#">Sharda Hospital</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
       
        <li class="nav-item">
          <a class="nav-link active text-white" routerLink="/create-appointment">Add Appointment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-white" routerLink="/admin">Back</a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>
  <div class="container">
    <hr>
    <h2 style="text-align: center; margin-top: 20px;">Appointments</h2>
    <a style="color: rgb(88, 228, 45); font-size: x-large;">
      <marquee behavior="scroll" direction="left">
        Welcome to Appointment Dashboard, Please find the appoointmentlist below !!
      </marquee>
    </a>
    <hr>
     <h3 style="text-align:center;  color: rgb(45, 146, 228); font-size: xx-large;">
      Current Appointment List in the Queue
     </h3>
     <div class="tableFixHead">
      <br>
      <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Symptoms</th>
                <th>Number</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let appointment of appointments">
                <td>{{appointment.id}}</td> 
                <td>{{appointment.name}}</td>
                <td>{{appointment.age}}</td>
                <td>{{appointment.symptoms}}</td>
                <td>{{appointment.number}}</td>
                <td>
                  <button (click)="delete(appointment.id)" class="btn btn-danger">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
     </div>
  </div>
